.sobre {
    flex: 1;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    box-sizing: border-box;
    text-align: center;
}

.card-sobre {
    background-color: #8069be;
    padding: 50px;
    width: 100%;
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 0 auto;
}

.card-sobre h1 {
    color: #a541d3;
    font-size: 2.5em;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.card-sobre p {
    color: #f0f0f0;
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 20px;
}

.card-sobre p:last-child {
    margin-bottom: 0;
}

.destaque{
    margin-top: 20px;
    color: #8a2be2;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;

}

/* Responsivo */
@media (max-width: 768px) {
    .sobre {
        padding: 40px 15px;
    }

    .card-sobre {
        padding: 30px;
    }

    .card-sobre h1 {
        font-size: 1.8em;
    }

    .card-sobre p {
        font-size: 1em;
    }
}
